# Gradle

.gradle/
build/
out/
classes/

# Eclipse

*.launch

# IDEs

.idea/
*.iml
*.ipr
*.iws

# VS Code

.settings/
.vscode/
bin/
.classpath
.project

# macOS

.DS_Store

# Fabric

run/

# Java/Kotlin build artifacts and logs

*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_*.log
replay_*.log
*.hprof
*.jfr
hs_err_pid*
replay_pid*
.kotlin/

# Package files

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
